@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #F48B38;
    --second-color: #012034;
    --text-dark: black;
    --text-white: #012034;
    --white: white;
    --max-width: 1200px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sectionContainer{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}
.sectionSubheader{
    margin-bottom: .5rem;
    position: relative;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--text-dark);
}
.sectionSubheader::after{
    position: absolute;
    content: "";
    top: 50%;
    transform: translate(1rem, -50%);
    height: 2px;
    width: 4rem;
    background-color: var(--second-color);
}
.sectionHeader{
    max-width: 600px;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--text-dark);
}
.sectionDescription {
    max-width: 600px;
    margin-bottom: 1rem;
    color: var(--text-white);
}
.btn{
    padding: .75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
body {
    font-family: "Lato", sans-serif; ;
}